.button {
  border: 1px solid orange;
  padding: 0.5em 2em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "IBMplex", monospace;
}

.primary {
  color: white;
}

.secondary {
}

.danger {
}
