.root {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}

.h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

.h4 {
  font-size: clamp(1rem, 2vw, 2rem);
}

.h5 {
  font-size: clamp(0.875rem, 1.75vw, 1.75rem);
}

.h6 {
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
}

.p {
  font-size: clamp(0.5rem, 1vw, 1rem);
}
